* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.88);
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: sans-serif;
}

.calculator {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.277);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.calculator #preview {
  width: 550px;
  height: 150px;
  padding: 15px;
  border: none;
  font-size: 5rem;
  max-width: 500px;
  color: white;
  background-color: rgba(0, 0, 0, 0.058);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.calculator .key {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

.calculator .key button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  background-color: hsl(0, 0%, 30%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.calculator .key .operator-btn {
  background-color: hsla(35, 100%, 55%, 0.86);
}

.calculator .key .operator-btn:hover {
  background-color: hsl(35, 100%, 55%) !important;
}

.calculator .key button:hover {
  background-color: hsla(0, 0%, 30%, 0.723);
}
